.header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 16px 0;
  z-index: 100;
}

.content {
  width: 960px;
  margin: 0 auto;
}

.filter {
  display: flex;
  margin-bottom: 16px;
}

.navigation {
  // margin: 32px 0;
}
